<!--

    Copyright 2024 Bundesdruckerei GmbH
    For the license see the accompanying file LICENSE.MD.

-->
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %X %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name="org.springframework.boot.docker.compose.core.DockerCli" level="WARN"/>
</configuration>
